@mixin flexprop {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


@mixin commoncode($para1, $para2){
    color: #222f3e;
    font-size: 3rem + 3rem;
    letter-spacing: $para1;
    text-transform: $para2;
}